<header class="header01 isSticky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headerInner01">
                    <div class="logo">
                        <a class="dfCursor" href="index.html">
                            <img src="assets/images/logo.png" alt="boozy"/>
                        </a>
                    </div>
                    <nav class="mainMenu">
                        <ul>
                            <li class="menu-item-has-children">
                                <a data-title="Home" href="javascript:void(0);"><span>Home</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children"><a href="javascript:void(0);">Sobre nós</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Serviços</a></li>
                                            <li><a href="home1-slider-banner.html">Portfólio</a></li>
                                            <li><a href="home1-video-banner.html">Blog</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);">Home 02</a>
                                        <ul class="sub-menu">
                                            <li><a href="home-two.html">Static Banner</a></li>
                                            <li><a href="home2-slider-banner.html">Slider Banner</a></li>
                                            <li><a href="home2-video-banner.html">Video Banner</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="home-three.html">Home 03</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Serviços" href="javascript:void(0);"><span>Serviços</span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="service.html">Service Grid</a>
                                    </li>
                                    <li>
                                        <a href="service-single.html">Service Single</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-title="Sobre nós" href="about.html"><span>Sobre nós</span></a>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Portfólio" href="javascript:void(0);"><span>Portfólio</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="portfolio-one.html">Portfolio One</a></li>
                                            <li><a href="portfolio-two.html">Portfolio Two</a></li>
                                            <li><a href="case-studies.html">Case Studires</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Blog" href="javascript:void(0);"><span>Blog</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog Grid</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-grid-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-grid-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-grid-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog List</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-list-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-list-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-list-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog Single</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-details-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-details-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-details-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-title="Contato" href="contact.html"><span>Contato</span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="headerOniAccess">
                        <a href="javascript:void(0)" class="menu_btn"><i class="fa-solid fa-bars"></i></a>
                        <div class="hdOniSocial">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-github"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="oniSearch">
                            <a href="javascript:void(0);"><i class="boozy-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
