<header class="header01 isSticky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headerInner01">
                    <div class="logo">
                        <a class="dfCursor" href="index.html">
                            <img src="assets/images/logo.png" alt="boozy"/>
                        </a>
                    </div>
                    <nav class="mainMenu">
                        <ul>
                            <li class="menu-item-has-children">
                                <a data-title="Demos" href="javascript:void(0);"><span>Demos</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children"><a href="javascript:void(0);">Home 01</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Static Banner</a></li>
                                            <li><a href="home1-slider-banner.html">Slider Banner</a></li>
                                            <li><a href="home1-video-banner.html">Video Banner</a></li>
                                        </ul>   
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);">Home 02</a>
                                        <ul class="sub-menu">
                                            <li><a href="home-two.html">Static Banner</a></li>
                                            <li><a href="home2-slider-banner.html">Slider Banner</a></li>
                                            <li><a href="home2-video-banner.html">Video Banner</a></li>
                                        </ul>   
                                    </li>
                                    <li><a href="home-three.html">Home 03</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Service" href="javascript:void(0);"><span>Service</span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="service.html">Service Grid</a>
                                    </li>
                                    <li>
                                        <a href="service-single.html">Service Single</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-title="About Us" href="about.html"><span>About Us</span></a>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Pages" href="javascript:void(0);"><span>Pages</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="portfolio-one.html">Portfolio One</a></li>
                                            <li><a href="portfolio-two.html">Portfolio Two</a></li>
                                            <li><a href="case-studies.html">Case Studires</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a data-title="Blog" href="javascript:void(0);"><span>Blog</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog Grid</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-grid-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-grid-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-grid-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog List</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-list-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-list-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-list-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Blog Single</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-details-lsb.html">Left Sidebar</a></li>
                                            <li><a href="blog-details-nsb.html">No Sidebar</a></li>
                                            <li><a href="blog-details-rsb.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-title="Contact" href="contact.html"><span>Contact</span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="headerOniAccess">
                        <a href="javascript:void(0)" class="menu_btn"><i class="fa-solid fa-bars"></i></a>
                        <div class="hdOniSocial">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-github"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="oniSearch">
                            <a href="javascript:void(0);"><i class="boozy-search"></i></a>
                        </div>
                        <div class="oniCart">
                            <a class="halCart orbito_aj_cart" href="javascript:void(0);">
                                <i class="boozy-shoping-cart"></i>
                                <span>2</span>
                            </a>
                            <div class="cartWidgetArea">
                                <div class="cartWidgetProduct">
                                    <img src="assets/images/projects/ps-1.jpg" alt="Marine Design">
                                    <a href="javascript:void(0);">Boozy Cancer for hardware</a>
                                    <div class="cartProductPrice clearfix">
                                        <span class="price"><span><span>$</span>19.00</span></span>
                                    </div>
                                    <a href="javascript:void(0);" class="cartRemoveProducts"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                                <div class="cartWidgetProduct">
                                    <img src="assets/images/projects/ps-2.jpg" alt="Draped Neck">
                                    <a href="javascript:void(0);">Pentax Jupiter Binoculars</a>
                                    <div class="cartProductPrice clearfix">
                                        <span class="price"><span><span>$</span>41.00</span></span>
                                    </div>
                                    <a href="javascript:void(0);" class="cartRemoveProducts"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
