<div class=".main"id="magicCursor" class="page">

  <!-- Preloader Start -->
  <div class="preloader-wrap">
      <div class="loader_bar"></div>
      <div id="precent"></div>
  </div>
  <!-- Preloader End -->

  <!-- BEGIN: Scrollbar content -->
  <app-header></app-header>


  <!-- BEGIN: Banner Section  -->
  <section class="fiexdBanner">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 offset-xl-2 offset-lg-1 col-lg-10">
                  <div class="fiexdBanner_cont">
                      <h2>Vibrent & <br> <span>innovative</span></h2>
                      <div class="boozyBannerBtnArea clearfix">
                          <a class="boozyBTN magic-hover" data-radius="50%" data-border-color="#ff5100" href="javascript:void(0)"> <i class="boozy-long-r-arrow"></i> Have An Idea ?</a>
                          <p>We can help you channel your potential implementing your idea. We take care of all your needs, crafting specific and targeted solutions.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- END: Banner Section  -->

  <app-section-service></app-section-service>
  <app-team></app-team>

  <app-depoimentos></app-depoimentos>

  <app-clientes></app-clientes>
  <!-- END: Banner Section  -->
  <app-footer></app-footer>
</div>

