@import url('../../../assets/css/style.scss');

.main{
  background-color: black !important;
  height: 100px !important;
  width: 100vw;
}

/* Home Banner01 Static   */
.fiexdBanner_cont h2{
  text-align: left;
  line-height: 150px;
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 150px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: -1px;
}
.fiexdBanner_cont h2 span {
  padding-left: 103px;
}
.fiexdBanner{
  position: relative;
  width: 100%;
  height: auto;
  padding: 266px 0 263px;
  z-index: 2;
  background: #ff5100 ;
}
.fiexdBanner::before{
  position: absolute;
  content:"";
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/slider/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  z-index: -1;
  animation: shrink 10s infinite alternate;
}
@keyframes shrink {
  0% {
    background-size: 118% 118%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.boozyBannerBtnArea {
  padding: 78px 0 0 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.boozyBannerBtnArea p {
  text-align: left;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 24px;
  color: rgb(255, 255, 255);
  opacity: 1;
  padding: 12px 0 0 65px;
}
.boozyBannerBtnArea > a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.fiexdBanner_cont {
  padding-left: 1px;
}
#rev_slider_1 .boozyBTN span,
#rev_slider_2 .boozyBTN span{
  display: inline-block;
  line-height:1.1;
}
#rev_slider_1 .boozyBTN i,
#rev_slider_2 .boozyBTN i {
  font-size: 53px;
  color: #FFF;
  display: inline-block;
  -webkit-transform: rotate(-46.97deg);
  transform: rotate(-46.97deg);
  top: -6px;
  position: relative;
  left: -1px;
}
.fiexdBanner_cont .boozyBTN{
  row-gap: 3.5px;
}

.serviceSection{
  background: #111111;
  padding:170px 0 0 ;
}
.serviceSection .button-wrap {
  top: 1px;
}

