<section class="testimonial01_section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-lg-10 offset-lg-1">
              <div class="testimonial01Wrapper">
                  <div class="testimonial01 owl-carousel">
                      <div class="testimonial_items">
                          <span class="testimonialQuoat1"><i class="boozy-quotes"></i></span>
                          <h2>Dinâmico e inovador, o TBP transforma <br> conceitos básicos em <br>estratégias excepcionais.</h2>
                          <div class="testimonialAuthor">
                              <h3>David malan</h3>
                          </div>
                      </div>
                      <div class="testimonial_items">
                          <span class="testimonialQuoat1"><i class="boozy-quotes"></i></span>
                          <h2>Perspicaz e visionário, o TBP sempre <br> encontra uma maneira única de <br>valorizar qualquer projeto.</h2>
                          <div class="testimonialAuthor">
                              <h3>David malan</h3>
                          </div>
                      </div>
                      <div class="testimonial_items">
                          <span class="testimonialQuoat1"><i class="boozy-quotes"></i></span>
                          <h2>Eficiente e inspirador, o TBP eleva qualquer iniciativa com sua abordagem criativa e original</h2>
                          <div class="testimonialAuthor">
                              <h3>David malan</h3>
                          </div>
                      </div>
                      <div class="testimonial_items">
                          <span class="testimonialQuoat1"><i class="boozy-quotes"></i></span>
                          <h2>Carismático e competente, o TBP tem o talento nato para transformar desafios em oportunidades de sucesso.</h2>
                          <div class="testimonialAuthor">
                              <h3>David malan</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
