
    <!-- BEGIN: Service Section  -->
    <section class="serviceSection">
      <div class="container">
          <div class="row">
              <div class="cl-md-12">
                  <div class="secHeading">
                      <h3>Nossos Serviços</h3>
                      <div class="button-wrap right">
                          <a href="javascript:void(0);">
                              <div class="button-text sticky right"><span>Mais Serviços</span></div>
                              <div class="iconWrapper parallax-wrap">
                                  <div class="button-icon parallax-element">
                                      <i class="boozy-long-r-arrow"></i>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="serviceBrand_area">
                      <div class="serviceBrand_hading" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="350">
                          <h2>criando <br> <span id="srvTextStrok">Marcas</span></h2>
                      </div>
                      <div class="serviceBrand_list">
                          <ul class="openHoverCursor">
                              <li data-aos="fade-up" data-aos-duration="8800">
                                  <a class="no-cursor" href="service-single.html">
                                      <img class="serviceList_lsIcon" src="assets/images/icon/pyramid.png" alt="pyramid">
                                      <span>Marca e Arte</span>
                                      <i class="boozy-down-arrow strokeText"></i>
                                  </a>
                              </li>
                              <li data-aos="fade-up" data-aos-duration="1800">
                                  <a class="no-cursor" href="service-single.html">
                                      <img class="serviceList_lsIcon" src="assets/images/icon/cube.png" alt="cube">
                                      <span>Desenvolvimento de Design</span>
                                      <i class="boozy-down-arrow strokeText"></i>
                                  </a>
                              </li>
                              <li data-aos="fade-up" data-aos-duration="2100">
                                  <a class="no-cursor" href="service-single.html">
                                      <img class="serviceList_lsIcon" src="assets/images/icon/3dAnimation.png" alt="3dAnimation">
                                      <span>Animação 3D</span>
                                      <i class="boozy-down-arrow strokeText"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- END: Service Section  -->

