<!-- BEGIN: Footer Section  -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <aside class="widget aboutBoozy">
                    <div class="footer_logo">
                        <a class="dfCursor" href="index.html"><img src="assets/images/logo2.png" alt="Boozy"></a>
                    </div>
                    <div class="about_widgetContent">
                        <h4>Let's Talk with Us</h4>
                        <a class="dfCursor" href="mailto:info@example.com">info</a>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
                <aside class="widget aboutFooterNav">
                    <h3 class="widgetTitle">About us</h3>
                    <ul>
                        <li><a href="javascript:void(0);">Who we are</a></li>
                        <li><a href="case-studies.html">Our History</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="career.html">Career</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2">
                <aside class="widget getInTouch">
                    <h3 class="widgetTitle">Contact us</h3>
                    <div class="fContact_info">
                        <p>2005 Stokes Isle Apt. 896, <br> ana ville 10010, USA</p>
                        <p>infocom</p>
                        <p>(+68) 120034509</p>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 offset-lg-1">
                <aside class="widget newslatter">
                    <h3 class="widgetTitle">NewsLetter</h3>
                    <p>Subsrcibe for our upcoming latest articles <br> and resources</p>
                    <form action="#" method="post" class="footer_newslatter">
                        <i class="boozy-envelope"></i>
                        <input type="email" name="y_email" id="y_email" placeholder="Your Email">
                        <button type="submit" class="magic-hover" data-radius="0" data-border-color="#ff5100"><i class="boozy-paper-plane"></i></button>
                    </form>
                </aside>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer Section  -->

<!-- BEGIN: Footer Info Section  -->
<section class="siteInfoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <p class="siteInfo">&copy; Copyrights 2023 <a href="index.html"> Boozy</a> All rights reserved. </p>
            </div>
            <div class="col-md-7 col-lg-6">
                <div class="footerInfoNav">
                    <ul>
                        <li><a href="javascript:void(0);">Dribble</a></li>
                        <li> <a href="javascript:void(0);">Behance</a></li>
                        <li><a href="javascript:void(0);">Instagram</a></li>
                        <li><a href="javascript:void(0);">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Footer Info Section  -->
