

            <!-- BEGIN: Team Section  -->
            <section class="teamSection02">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4"  *ngFor="let member of team" >
                            <div class="team_Item" data-aos="fade-up" data-aos-duration="1000" data-aos-dela="200">
                                <div class="teamItemInner">
                                    <div class="team_thumbnail">
                                       
                                              <img class="foto-preto-branco" [src]="member.foto" alt="Foto de {{ member.nome }}">
                                        
                                       
                                        <div class="tm01Social">
                                            <a href="javascript:void(0);">
                                            <i class="fa-brands fa-facebook-f"></i>
                                            </a>
                                            <a href="javascript:void(0);">
                                            <i class="fab fa-dribbble"></i>
                                            </a>
                                            <a href="javascript:void(0);">
                                            <i class="fab fa-github"></i>
                                            </a>
                                            <a href="javascript:void(0);">
                                            <i class="fab fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="team_desc">
                                          <h2>{{member.nome}}</h2>
                                        <a href="javascript:void(0)">{{member.profissao}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        